
.logo{
    width: 20px;
    height: 11.5px;
}
.logo img{
    width: 90PX;
}
nav{
    display: flex;
    justify-content: space-around;
align-items: center;
}
.right ul{
    display: flex;
    gap: 17px;
}
.right ul li{
    list-style: none;
    
}
.right ul li img{
    height: 23px;
}